language: python
python:
  - "2.6"
  - "2.7"
# Need mongodb for testing
services: mongodb
# command to install dependencies
install: "pip install -r requirements_for_tests.txt --use-mirrors"
# command to run tests
script:
  - nosetests --with-coverage --cover-package=backdrop --cover-inclusive
  - coverage report -m
  - coveralls --verbose
  - behave
  - ./pep-it.sh
branches:
  except:
    - master
    - release
